[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
pyyaml = "*"
telegram = "*"
python-telegram-bot = "==12.7"
pytelegrambotapi = "==3.7.1"

[requires]
python_version = "3.8"
